
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshopuser_username: "cloud-user"
# workshopuser_password: ""

libvirt_credentials:
  default:
    username: "root"
    password: "{{ t_libvirt_host_pw }}"

