##
## KICKSTART PROFILES
##



custom_kickstart:

    name:              "custom_kickstart"
    description:       "Custom kickstart: simple_cdrom + wait_for_ssh + async restart_monitor"
    method:            "simple_cdrom"
{% raw %}
    iso_url:           "{{ h_isoURL | default('') }}"
{% endraw %}
    wait_for_shutdown: false
    wait_for_ssh:      true

    launch_restart_monitor: true

