
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshopuser_username: "cloud-user"
# workshopuser_password: ""

libvirt_credentials:
{% if t_virthost_pw is defined and t_virthost_pw|length %}
  default:
    username: "root"
    password: "{{ t_virthost_pw }}"
{% endif %}

bmc_credentials:
{% if t_bmc_pw_default is defined and t_bmc_pw_default|length %}
  default:
    username: "root"
    password: "{{ t_bmc_pw_default }}"
{% endif %}{% if t_bmc_bastion is defined and t_bmc_bastion|length %}
  {{ t_bmc_bastion }}:
    username: "root"
    password: "{{ t_bmc_pw_bastion }}"
{% endif %}{% if t_bmc_pw_bootstrap is defined and t_bmc_pw_bootstrap|length %}
  {{ t_bmc_bootstrap }}:
    username: "root"
    password: "{{ t_bmc_pw_bootstrap }}"
{% endif %}{% if t_bmc_pw_master1 is defined and t_bmc_pw_master1|length %}
  {{ t_bmc_master1 }}:
    username: "root"
    password: "{{ t_bmc_pw_master1 }}"
{% endif %}{% if t_bmc_pw_master2 is defined and t_bmc_pw_master2|length %}
  {{ t_bmc_master2 }}:
    username: "root"
    password: "{{ t_bmc_pw_master2 }}"
{% endif %}{% if t_bmc_pw_master3 is defined and t_bmc_pw_master3|length %}
  {{ t_bmc_master3 }}:
    username: "root"
    password: "{{ t_bmc_pw_master3 }}"
{% endif %}{% if t_bmc_pw_worker1 is defined and t_bmc_pw_worker1|length %}
  {{ t_bmc_worker1 }}:
    username: "root"
    password: "{{ t_bmc_pw_worker1 }}"
{% endif %}{% if t_bmc_pw_worker2 is defined and t_bmc_pw_worker2|length %}
  {{ t_bmc_worker2 }}:
    username: "root"
    password: "{{ t_bmc_pw_worke2 }}"
{% endif %}
