##
## KICKSTART PROFILES
##



custom_libvirt_wait:

    ##
    ## Host will NOT poweroff after vmedia_install, so DO NOT
    ## wait around to start it back up
    ##

    name:              "custom_kickstart"
    description:       "Custom kickstart: simple_cdrom + wait_for_ssh + async restart_monitor"
    method:            "simple_cdrom"
{% raw %}
    iso_url:           "{{ h_isoURL | default('') }}"
    wait_for_shutdown: "{{ h_pwrOFF | default(false) }}"
{% endraw %}
    wait_for_ssh:      true

    launch_restart_monitor: true

