##
## CUSTOM PLATFORM PROFILES
##

custom_kvmhost:

    type:        "libvirt"
    host_fqdn:   "{{ t_virthost_fqdn }}"
    host_ip:     "{{ t_virthost_ip   }}"
    description: "Custom kvm platform host: bridged net, nested_virt"

    vm:
        name: {% raw %}"{{ xtoph_vars.clustername }}_{{ inventory_hostname }}"{% endraw %}
  
    nested_virt_enable: true

    kickstart:
        description: "hints to where installers can find devices"
{% raw %}  
        netdev:  "{{ h_netDEV | default('eno1') }}"
        blkdev:  "{{ h_blkDEV | default('sda') }}"
{% endraw %}
  
    network:
        default:
  
            description:     "default libvirt network parameters"
            network_name:    "br0"
            undeploy:        true

            fwd_type:        "bridge"
            bridge_netdev:   "{{ t_virthost_brdev }}"
            model:           "virtio"

{% raw %}  
            basedomain:        "{{ workshop_vars.network_basedomain }}"
            network:           "{{ workshop_vars.network_network    }}"
            netmask:           "{{ workshop_vars.network_netmask    }}"
            broadcast:         "{{ workshop_vars.network_broadcast  }}"
            prefix:            "{{ workshop_vars.network_prefix     }}"
            gateway:           "{{ workshop_vars.network_gateway    }}"
            nameserver:        "{{ workshop_vars.network_nameserver }}"
            timeserver:        "{{ workshop_vars.network_timeserver }}"
            fqdn:              "{{ workshop_extras.network_fqdn     }}"
{% endraw %}

    storage:
        default:

            description: "default libvirt storage parameters"
            qcow_dir: "/home/virt-images"


