kind: "BuildConfig"
apiVersion: "v1"
metadata:
  name: "hello-webui5"
spec:
  output:
    to:
      kind: "ImageStreamTag"
      name: "hello-webui5:lastest"
  source:
    contextDir: "/src/dockerfile" 
    git: 
      uri: "https://github.com/xtophd/OCP-Workshop"
    type: "Git"
  strategy:
    type: "Docker"
    
