#!/bin/bash

## This script on snipes the IP address.  The port is assumed to be 8080

SERVICEIP=`oc get service --no-headers | awk '{ print $3 }'`
SERVICEURL="http://${SERVICEIP}:8080"

echo "DETERMINED SERVICE: ${SERVICEURL}"
echo "BASH EXEC: curl ${SERVICEURL}"
bash ""

exec curl ${SERVICEURL}
