#!/bin/bash

MYPOD=`oc get pods --no-headers | awk '{ print $1 }'`

SRC="/var/tmp/helloworld.html"
DST="${MYPOD}:/var/www/html/index.html"

echo "DETERMINED POD = ${MYPOD}"
echo "BASH EXEC: oc cp ${SRC} ${DST}"
echo ""
 
exec oc cp ${SRC} ${DST}
