#!/bin/bash

MYPOD=`oc get pods --no-headers | awk '{ print $1 }'`

SRC="/var/tmp/helloworld.html"
DST="${MYPOD}:/var/www/html/index.html"

echo "My pod = ${MYPOD}"
echo "Copying ${SRC} to ${DST}"
 
oc cp ${SRC} ${DST}
