#!/bin/bash

## This script on snipes the pod name and runs oc rsh ${PODNAME}

for PODNAME in `oc get pods --no-headers | awk '{ print $1 }'` ; do

    if [[ "${PODNAME}" =~ "^.*-(.*)$" ]] && \
        [ "${BASH_REMATCH[1]}" != "deploy" ] && \
        [ "${BASH_REMATCH[1]}" != "build" ] ; then

        echo "DETERMINED POD NAME: ${PODNAME}"
        echo "BASH EXEC: oc rsh ${PODNAME}"
        echo ""

        exec oc rsh ${PODNAME}
    fi
done
