
    host {{ p_name }} {
      hardware ethernet {{ p_mac }};
      fixed-address {{ p_addr }};

{% if g_useUEFI_HTTP == 'True' %}
      if uefi_http_iso = "true" {
        log(info, "dhcpd-debug: (uefi http) {{ p_name }} filename = http://{{ p_nextsvr }}:8080/assets/{{ p_cluster }}-{{ p_name }}.iso");
        filename "http://{{ p_nextsvr }}:8080/assets/{{ p_cluster }}-{{ p_name }}.iso";
      }
{% endif %}
    }

