
subnet {{ p_network }} netmask {{ p_netmask }} {

    authoritive;  

    option domain-name         "{{ p_cluster }}.{{ p_domain }}";
    option domain-name-servers {{ p_dns }};
    option routers             {{ p_gateway }};
    option broadcast-address   {{ p_broadcast }};
    option subnet-mask         {{ p_netmask }};
{%if p_ntp is defined and p_ntp|length %}
    option ntp-servers         {{ p_ntp }};
{% endif %}

    if known {
       log (info, concat ("dhcpd-debug: CLIENT HOSTNAME: ", host-decl-name ));
       log (info, concat ("dhcpd-debug: CLIENT IP: ",       binary-to-ascii (10, 8, ".", leased-address)));
       log (info, concat ("dhcpd-debug: CLIENT MAC: ",      binary-to-ascii (16, 8, ":", substring (hardware, 1, 6))));
    }


{% if g_usePXE == 'True' %}
  class "pxeclients" {	

    option vendor-class-identifier "PXEClient";
    match if substring (option vendor-class-identifier, 0, 9) = "PXEClient";

    next-server {{ p_nextsvr }};

    if exists user-class and option user-class = "iPXE" {

      log (info, "dhcpd-debug: CLIENT METHOD: iPXE http://192.168.123.160:8080/boot.ipxe");
      filename "http://192.168.123.160:8080/boot.ipxe";

    } elsif option client-system-arch = 00:06 {

      log (info, "dhcpd-debug: CLIENT METHOD: chainload ipxe-i386.efi");
      filename "ipxe-i386.efi";

    } elsif option client-system-arch = 00:07 or option client-system-arch = 00:09 {

      log (info, "dhcpd-debug: CLIENT METHOD: chainload ipxe-x86_64.efi");
      filename "ipxe-x86_64.efi";

    } else {

      log (info, "dhcpd-debug: CLIENT METHOD: chainload undionly.kpxe");
      filename "undionly.kpxe";
    }
  }
{% endif %}

{% if g_useUEFI_HTTP == 'True' %}
  class "httpclients" {	

    option vendor-class-identifier "HTTPClient";
    match if substring (option vendor-class-identifier, 0, 10) = "HTTPClient";

    next-server {{ p_nextsvr }};

    ## Because I need to provide a custom iso for any host using this method,
    ## we just set a varilable here and specify the filename in the host section
 
    set uefi_http_iso = "true";

    ## Send a little output to log
    ## log(info, concat ("dhcpd-debug: (uefi http) uefi_http_iso = ", uefi_http_iso));

    log(info, "dhcpd-debug: (uefi http) setting uefi_http_iso = true");

  }
{% endif %}

