## Public and Private API entries

address=/api.{{ p_domain }}/{{ p_addr }}
ptr-record={{ p_revAddr }}.in-addr.arpa,api.{{ p_domain }}

address=/api-int.{{ p_domain }}/{{ p_addr }}
ptr-record={{ p_revAddr }}.in-addr.arpa,api-int.{{ p_domain }}
