#!/bin/bash

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

function run_cmd() {

  msg=$1
  cmd=$2

  echo ""
  echo "## - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
  echo "## Message: $msg"
  echo "## Command: $cmd"
  echo ""

  eval $cmd

  rc=$?

  if [[ $rc != 0 ]] ; then
      exit "FATAL: previous command returned non-zero ($rc)"
      exit $rc
  fi

  echo ""
}



##
##
##


run_cmd "Change current project namespace to default" \
        "oc project default"

run_cmd "Delete project helloworld1" \
        "oc delete project helloworld1"

run_cmd "Delete project helloworld2" \
        "oc delete project helloworld2"

run_cmd "Delete project helloworld3" \
        "oc delete project helloworld3"

run_cmd "Delete project helloworld4" \
        "oc delete project helloworld4"

run_cmd "Delete project helloworld5" \
        "oc delete project helloworld5"

run_cmd "Delete storage pv hello-world" \
        "oc delete pv hello-world"

