apiVersion: v1
kind: PersistentVolume
metadata:
  name: hello-world
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server:   {{ p_server }}
    path:     {{ p_path }}/hello-world
    readOnly: false
