#!/bin/bash

##
## Include the lib-exercise functions
##

. $(dirname "$0")/lib-exercise.sh



export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig



exercise_msg "Get AAP route (URL)" \
             "oc get routes -n ansible-automation-platform --no-headers | awk '{print $2}'"

AAP_ROUTE=`oc get routes -n ansible-automation-platform --no-headers | awk '{print $2}'`



exercise_msg "Get AAP admin password" \
             "oc get secret/tower-admin-password -o json -n ansible-automation-platform -o jsonpath='{.metadata.annotations.kubectl\.kubernetes\.io/last-applied-configuration}' | jq -r '.stringData.password'"

AAP_PASSWORD=`oc get secret/tower-admin-password -o json -n ansible-automation-platform -o jsonpath='{.metadata.annotations.kubectl\.kubernetes\.io/last-applied-configuration}' | jq -r '.stringData.password'`



exercise_msg "Information about your AAP deployment"

echo "Route: ${AAP_ROUTE}"
echo "Username: admin"
echo "Password: ${AAP_PASSWORD}"
