#!/bin/bash

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

function run_cmd() {

  msg=$1
  cmd=$2

  echo ""
  echo "## - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
  echo "## Message: $msg"
  echo "## Command: $cmd"
  echo ""

  eval $cmd

  rc=$?

  if [[ $rc != 0 ]] ; then
      exit "FATAL: previous command returned non-zero ($rc)"
      exit $rc
  fi

  echo ""
}



##
##
##



run_cmd "Create a new project" \
        "oc new-project ansible-automation-platform --description='Ansible Application Platform' --display-name='Exercise: Ansible AP'"

run_cmd "Create the NFS pv" \
        "oc create -f /usr/local/etc/exercise10-ansible-ap-pv.yaml"

run_cmd "Apply config YAML to install Ansible AP Operator" \
        "oc apply -f /usr/local/etc/exercise10-ansible-ap-subscription.yaml"


# echo ""
# echo "## - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
# echo "## You can validate the results by running..."
# echo "##"
# echo "##    curl -k http://hello-app-helloworld3.apps.{{ workshop_extras.network_fqdn }}"
# echo "##"

