#!/bin/bash

##
## Include the lib-exercise functions
##

. $(dirname "$0")/lib-exercise.sh



export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

exercise_msg "Get AAP tower podname" \
             "oc get pods -n ansible-automation-platform --no-headers | grep tower | grep -v postgres | awk '{print $1}'"

PODNAME=`oc get pods -n ansible-automation-platform --no-headers | grep tower | grep -v postgres | awk '{print $1}'`

exercise_cmd "Delete the AAP tower pod" \
             "oc delete pod -n ansible-automation-platform ${PODNAME}"

