apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hello-world-claim
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: hello-world
  storageClassName: ""
