
## ---------------------------------------- 
## {{ p_type }} servers

frontend {{ p_cname }}-{{ p_type }}-service
    bind {{ p_ip }}:{{ p_port }}
    mode tcp
    option tcplog
    default_backend {{ p_cname }}-{{ p_type }}-service

backend {{ p_cname }}-{{ p_type }}-service
    balance source
    mode tcp
   
