
## ---------------------------------------- 
## {{ p_type }} servers

frontend openshift-{{ p_type }}-server
    bind {{ p_ip }}:{{ p_port }}
    mode tcp
    option tcplog
    default_backend openshift-{{ p_type }}-server

backend openshift-{{ p_type }}-server
    balance source
    mode tcp
   
