apiVersion: v1
kind: PersistentVolume
metadata:
  name: helloworld3-pv
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteMany
  nfs: 
    path: /exports/helloworld
    server: workstation.example.com
  persistentVolumeReclaimPolicy: Retain
