#!/bin/bash

MYPOD=`oc get pods --no-headers | cut -f 1 -d ' '`

SRC="/var/tmp/helloworld.html"
DST="${MYPOD}:/var/www/html/index.html"

echo "My pod = ${MYPOD}"

echo "Copying ${SRC} to ${DST}"

oc cp ${SRC} ${DST}
