<network>
  <name>ocp-workshop</name>
  <forward mode='{{ p_type }}'>
  </forward>
  <bridge name='ocp-workshop' stp='on' delay='0'/>
  <ip address='{{ p_gateway }}' netmask='{{ p_netmask }}'>
  </ip>
</network>

