#!/bin/bash



##
##  This script is meant to run on a RHCOS Live-Image booted host
##
##    Use 'curl' to fetch the script
##    Run the script to cleanup storage and launch the installer
##
##  USAGE:  installhelper.sh BLKDEV NETDEV 
##
##      installhelper.sh /dev/sda eth0
##



echo ""
echo "Validating block and network devices"

MY_BLKDEV=${1}
MY_NETDEV=${2}

if [[ -d /sys/class/net/${MY_NETDEV} ]] ; then
  MY_MAC=`cat /sys/class/net/${MY_NETDEV}/address`

  if [[ -b ${MY_BLKDEV} ]] ; then

    echo "Block device   = ${MY_BLKDEV}"
    echo "Network device = ${MY_NETDEV}"
    echo "Network MAC    = ${MY_MAC}"

  else

    echo "ERROR: you must specify a valid block device"
    echo "USAGE:  installhelper.sh BLKDEV NETDEV"
    exit
  fi

else

  echo "ERROR: you must specify a valid network interface"
  echo "USAGE:  installhelper.sh BLKDEV NETDEV"
  exit
fi



## ----------



echo ""
echo "About to force removal of VGs"

for i in `vgs --noheadings | awk '{ print $1 }'` ; do
  echo "$i"
done

echo ""
read -p "Press ENTER to continue [ctrl-c to abort]"

for i in `vgs --noheadings | awk '{ print $1 }'` ; do
  vgremove -f $i
done



## ----------



echo ""
echo "About to force removal of PVs"

for i in `pvs --noheadings | awk '{ print $1 }'` ; do
  echo "$i"
done

echo ""
read -p "Press ENTER to continue [ctrl-c to abort]"

for i in `pcs --noheadings | awk '{ print $1 }'` ; do
  pvremove -f $i
done



## ----------



echo ""
echo "About to run CoreOS installer:"
echo "coreos-installer install ${MY_BLKDEV} --ignition-url=http://{{ p_addr}}:{{ p_port }}/ignition?mac=${MY_MAC} --insecure-ignition"



echo ""
read -p "Press ENTER to continue [ctrl-c to abort]"

echo "Running CoreOS installer"
coreos-installer install ${MY_BLKDEV} --ignition-url=http://{{ p_addr}}:{{ p_port }}/ignition?mac=${MY_MAC} --insecure-ignition



## ----------



echo ""
echo "About to reboot"

echo ""
echo "  !!! DON'T FORGET TO UNMOUNT VIRTUAL MEDIA !!!"
echo ""


echo ""
read -p "Press ENTER to continue [ctrl-c to abort]"

reboot
