{
 "id": "{{ p_profile }}-{{ p_name }}",
 "name": "{{ p_profile}}-{{ p_name }} server",
 "ignition_id": "{{ p_profile }}.ign",
 "boot": {
  "kernel": "/assets/{{ rhcos_assets[workshop_vars.ocp_version]['kernel'] }}",
  "initrd": [
   "/assets/{{ rhcos_assets[workshop_vars.ocp_version]['initramfs'] }}"
   ],
   "args": [
    "ip={{ p_network }}",
    "rd.neednet=1",
    "console=tty0",
    "usb-storage.delay_use={{ p_usbdelay }}",
    "coreos.inst=yes",
    "coreos.inst.install_dev={{ p_storage }}",
    "coreos.inst.image_url=http://{{ p_addr }}:{{ p_port }}/assets/{{ rhcos_assets[workshop_vars.ocp_version]['bios'] }}",
{% if rhcos_assets[workshop_vars.ocp_version]['rootfs'] is defined %}
    "coreos.inst.insecure=yes",
    "coreos.live.rootfs_url=http://{{ p_addr}}:{{ p_port }}/assets/{{ rhcos_assets[workshop_vars.ocp_version]['rootfs'] }}",
{% endif %}
{% if p_loader is defined and p_loader == "efi" %}
    "coreos.inst.ignition_url=http://{{ p_addr}}:{{ p_port }}/ignition?mac=$net_default_mac"
{% else %}
    "coreos.inst.ignition_url=http://{{ p_addr}}:{{ p_port }}/ignition?mac=${mac:hexhyp}"
{% endif %}
   ]
 }
}
