apiVersion: v1
baseDomain: {{ p_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ p_clusterName }}
networking:
  clusterNetworks:
  - cidr: 10.254.0.0/16
    hostPrefix: 24
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  vsphere:
    vcenter: ${{ p_vcenterServer }}
    username: ${{ p_vcenterUser }}
    password: ${{ p_vcenterPwd }}
    datacenter: {{ p_vcenterDC }}
    defaultDatastore: {{ p_vcenterDS }}
pullSecret: '${PULL_SECRET}'
sshKey: '${OCP_SSH_KEY}'
