set default="0"
insmod video_bochs
insmod video_cirrus
insmod all_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
set timeout=10

menuentry 'Transfer to CoreOS Installer (EFI)' {
     insmod net
     insmod http
     echo 'Loading Linux ...'
     set root=http,{{ p_nextsvr }}:{{ p_http_port }}
     configfile /grub?mac=$net_default_mac
}

