apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: My First WebUI App
    openshift.io/display-name: Hello WebUI
    openshift.io/requester: admin
    openshift.io/sa.scc.mcs: s0:c11,c0
    openshift.io/sa.scc.supplemental-groups: 1000110000/10000
    openshift.io/sa.scc.uid-range: 1001/10000
  name: hello-webui
