[Desktop Entry]
Version=1.0
Name=Terminal
GenericName=Terminal
Comment=Console Terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;Favorites
Keywords=web;browser;internet;
X-Desktop-File-Install-Version=0.23
