#!/bin/bash

export KUBECONFIG={{ workshop_extras.ocp_creds_dir }}/auth/kubeconfig

echo ""
echo "Set password for {{ workshopuser_username }}"
echo "---------------------------"

htpasswd /usr/local/etc/workshop-users.htpasswd {{ workshopuser_username }}

echo ""
echo "Creating/Updating openshift htpass-secret"
echo "-----------------------------------------"

if `oc create secret generic htpass-secret --from-file=htpasswd=/usr/local/etc/workshop-users.htpasswd -n openshift-config > /dev/null 2>&1` ; then
  echo "Identity secret created"
else
  oc create secret generic htpass-secret --from-file=htpasswd=/usr/local/etc/workshop-users.htpasswd --dry-run -o yaml -n openshift-config 2>/dev/null | oc replace -f - > /dev/null 2>&1
  echo "Identity secret replaced"
fi

echo ""
echo "Configuring Identity Provider (HTPASSWD)"
echo "----------------------------------------"

oc apply -f /usr/local/etc/workshop-identity.yaml

echo ""
echo "Applying cluster-admin role to {{ workshopuser_username }}"
echo "-------------------------------------------------"
oc adm policy add-cluster-role-to-user cluster-admin {{ workshopuser_username }} 


echo ""
echo "Delete openshift-authentication pods (reload)"
echo "-------------------------------------------------"
oc delete --all pods -n openshift-authentication

echo ""
echo "##"
echo "## NOTE:  Users will not appear in Openshift until"
echo "##        they log in for the first time!!! So if you"
echo "##        added users, don't flip out that they are"
echo "##        not listed under User-Management right away..."
echo "##"
echo ""
