#!/bin/bash

export KUBECONFIG={{ g_credsDir }}/auth/kubeconfig

echo "Configure Image Registry"
echo "------------------------"

echo "Changing managementState : Managed"
oc patch configs.imageregistry.operator.openshift.io/cluster --type merge -p '{"spec":{"managementState":"Managed"}}'

echo "Changing storage: { pvc: { claim: } }"
oc patch configs.imageregistry.operator.openshift.io/cluster --type merge -p '{"spec":{"storage":{"pvc":{"claim":""}}}}'

