#!/bin/bash

export KUBECONFIG={{ g_credsDir }}/auth/kubeconfig

echo "Running health check"
echo "--------------------"

if ! oc whoami >/dev/null ; then
  echo " BAD... Unable to getcluster login"
  echo "        Use `oc whoami` to inspect"
  exit 1
else
  echo "GOOD... Cluster login success"
fi

if `oc get csr --no-headers 2>/dev/null | grep -q -i pending`; then
  echo " BAD... There are outstanding CSR requests"
  echo "        Use `oc get csr` to inspect"
  echo "        Use `oc adm certificate approve <CERT-ID>` to approve"
else
  echo "GOOD... No pending CSRs"
fi

if `oc get nodes --no-headers | grep -q -i notready`; then
  echo " BAD... There are nodes in a NotReady state"
  echo "        Use `oc get nodes` to inspect"
else
  echo "GOOD... Nodes Ready"
fi

if `oc get clusteroperators --no-headers | awk '{print $3}' | grep -i false`; then
  echo " BAD... There are cluster operators in a false (not available) state"
  echo "        Use `oc get clusteroperators` to inspect"
else
  echo "GOOD... Cluster operators are available"
fi

echo ""
