#!/bin/bash

export KUBECONFIG={{ g_credsDir }}/auth/kubeconfig

echo "Approving queued CSRs"
echo "---------------------"

if `oc get csr --no-headers 2>/dev/null | grep -q -i pending`; then
  echo "  Ahoy mate, thar be CSRrrrrrrrrrs..."

  for i in `oc get csr | grep -i pending | awk '{print $1}'`; do
    echo "  approving $i"
    oc adm certificate approve $i
    sleep 1
  done

else
  echo "  Nothing to approve"
fi

echo ""
