#!/bin/bash

export KUBECONFIG={{ g_credsDir }}/auth/kubeconfig

echo "Configure Scheduler mastersSchedulable: false"
echo "---------------------------------------------"

echo "Patching schedulers.config.openshift.io"
oc patch schedulers.config.openshift.io/cluster --type merge -p '{"spec":{"mastersSchedulable": false }}'

