
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshopuser_username: "cloud-user"
workshopuser_password: "{{ t_workshop_user_pw }}"

{% if t_virthost_type == "libvirt" %}

libvirt_credentials:
  default:
    username: "root"
    password: "{{ t_virthost_pw }}"

{% elif t_virthost_type == "ovirt" %}

ovirt_credentials:
  default:
    username: "admin@internal"
    password: "{{ t_ovirt_manager_pw }}"

{% endif %}

##
##    Credentials to access the IPMI bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw,
  ##    you can just set the default
  ##

  default:
    username: "root"
    password: "{{ t_bmc_pw_default }}"

  ##
  ##    if you need a unique uid/pw for a host,
  ##    use the bmc_fqdn (NOT THE HOST FQDN!)
  ##    and declare the uid/pw

  #node1.bmc.example.com:
  #  username: ""
  #  password: ""

{% if t_bmc_pw_bastion|length %}
  {{ t_bmc_bastion }}:
    username: "root"
    password: "{{ t_bmc_pw_bastion }}"
{% endif %}

{% if t_bmc_pw_bootstrap|length %}
  {{ t_bmc_bootstrap }}:
    username: "root"
    password: "{{ t_bmc_pw_bootstrap }}"
{% endif %}

{% if t_bmc_pw_master1|length %}
  {{ t_bmc_master1 }}:
    username: "root"
    password: "{{ t_bmc_pw_master1 }}"
{% endif -%}

{% if t_bmc_pw_master2|length %}
  {{ t_bmc_master2 }}:
    username: "root"
    password: "{{ t_bmc_pw_master2 }}"
{% endif %}

{% if t_bmc_pw_master3|length %}
  {{ t_bmc_master3 }}:
    username: "root"
    password: "{{ t_bmc_pw_master3 }}"
{% endif %}

{% if t_bmc_pw_worker1|length %}
  {{ t_bmc_worker1 }}:
    username: "root"
    password: "{{ t_bmc_pw_worker1 }}"
{% endif %}

{% if t_bmc_pw_worker2|length %}
  {{ t_bmc_worker2 }}:
    username: "root"
    password: "{{ t_bmc_pw_worker2 }}"
{% endif %}

