
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshop_student_uid:      "{{ lookup('env','WORKSHOP_STUDENT_UID') }}"
workshop_student_password: "{{ lookup('env','WORKSHOP_STUDENT_PW') }}"

workshop_admin_uid:        "{{ lookup('env','WORKSHOP_ADMIN_UID') }}"
workshop_admin_password:   "{{ lookup('env','WORKSHOP_ADMIN_PW') }}"



ldap_credentials:
  bind_pw: "{{ t_ldap_bind_pw }}"



{% if t_virthost_type == "libvirt" %}

libvirt_credentials:
  default:
    username: "root"
    password: "{{ t_virthost_pw }}"

{% elif t_virthost_type == "ovirt" %}

ovirt_credentials:
  default:
    username: "admin@internal"
    password: "{{ t_ovirt_manager_pw }}"

{% endif %}


##
##    Credentials to access the IPMI bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw,
  ##    you can just set the default
  ##

  default:
    username: "{{ t_bmc_uid_default }}"
    password: "{{ t_bmc_pw_default }}"

{% for hgroup in [ "myBastion", "myMasters", "myWorkers", "mySNO" ] %}
{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == hgroup and lookup('env',"BMC_NODE" ~ index)|length %}
  {{ lookup('env',"BMC_NODE" ~ index) }} :
    username: "{{ lookup('env','BMC_UID_NODE' ~ index) }}"
    password: "{{ lookup('env','BMC_PW_NODE' ~ index) }}"

{%     endif %}
{% endfor %}
{% endfor %}

