
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshopuser_username: "cloud-user"
workshopuser_password: "{{ t_workshop_user_pw }}"

{% if t_virthost_type == "libvirt" %}

libvirt_credentials:
  default:
    username: "root"
    password: "{{ t_virthost_pw }}"

{% elif t_virthost_type == "ovirt" %}

ovirt_credentials:
  default:
    username: "admin@internal"
    password: "{{ t_ovirt_manager_pw }}"

{% endif %}


host_credentials:

{% if t_virthost_pw|length %}
  {{ t_virthost_fqdn }}:
    username: "{{ t_virthost_uid }}"
    password: "{{ t_virthost_pw }}"
{% endif %}

{% if t_ovirt_manager_pw|length %}
  {{ t_ovirt_manager_fqdn }}:
    username: "{{ t_ovirt_manager_uid }}"
    password: "{{ t_ovirt_manager_pw }}"
{% endif %}

{% if t_pw_node1|length %}
  {{ t_name_node1 }}:
    username: "{{ t_uid_node1 }}"
    password: "{{ t_pw_node1 }}"
{% endif %}

{% if t_pw_node2|length %}
  {{ t_name_node2 }}:
    username: "{{ t_uid_node2 }}"
    password: "{{ t_pw_node2 }}"
{% endif %}

{% if t_pw_node3|length %}
  {{ t_name_node3 }}:
    username: "{{ t_uid_node3 }}"
    password: "{{ t_pw_node3 }}"
{% endif %}

{% if t_pw_node4|length %}
  {{ t_name_node4 }}:
    username: "{{ t_uid_node4 }}"
    password: "{{ t_pw_node4 }}"
{% endif %}

{% if t_pw_node5|length %}
  {{ t_name_node5 }}:
    username: "{{ t_uid_node5 }}"
    password: "{{ t_pw_node5 }}"
{% endif %}

{% if t_pw_node6|length %}
  {{ t_name_node6 }}:
    username: "{{ t_uid_node6 }}"
    password: "{{ t_pw_node6 }}"
{% endif %}

{% if t_pw_node7|length %}
  {{ t_name_node7 }}:
    username: "{{ t_uid_node7 }}"
    password: "{{ t_pw_node7 }}"
{% endif %}

{% if t_pw_node8|length %}
  {{ t_name_node8 }}:
    username: "{{ t_uid_node8 }}"
    password: "{{ t_pw_node8 }}"
{% endif %}

##
##    Credentials to access the IPMI bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw,
  ##    you can just set the default
  ##

  default:
    username: "{{ t_bmc_uid_default }}"
    password: "{{ t_bmc_pw_default }}"

  ##
  ##    if you need a unique uid/pw for a host,
  ##    use the bmc_fqdn (NOT THE HOST FQDN!)
  ##    and declare the uid/pw

  #node1.bmc.example.com:
  #  username: ""
  #  password: ""

{% if t_virthost_bmc|length %}
  {{ t_virthost_bmc }}:
    username: "{{ t_virthost_bmc_uid }}"
    password: "{{ t_virthost_bmc_pw }}"
{% endif %}

{% if t_bmc_pw_node1|length %}
  {{ t_bmc_node1 }}:
    username: "{{ t_bmc_uid_node1 }}"
    password: "{{ t_bmc_pw_node1 }}"
{% endif %}

{% if t_bmc_pw_node2|length %}
  {{ t_bmc_node2 }}:
    username: "{{ t_bmc_uid_node2 }}"
    password: "{{ t_bmc_pw_node2 }}"
{% endif %}

{% if t_bmc_pw_node3|length %}
  {{ t_bmc_node3 }}:
    username: "{{ t_bmc_uid_node3 }}"
    password: "{{ t_bmc_pw_node3 }}"
{% endif -%}

{% if t_bmc_pw_node4|length %}
  {{ t_bmc_node4 }}:
    username: "{{ t_bmc_uid_node4 }}"
    password: "{{ t_bmc_pw_node4 }}"
{% endif %}

{% if t_bmc_pw_node5|length %}
  {{ t_bmc_node5 }}:
    username: "{{ t_bmc_uid_node5 }}"
    password: "{{ t_bmc_pw_node5 }}"
{% endif %}

{% if t_bmc_pw_node6|length %}
  {{ t_bmc_node6 }}:
    username: "{{ t_bmc_uid_node6 }}"
    password: "{{ t_bmc_pw_node6 }}"
{% endif %}

{% if t_bmc_pw_node7|length %}
  {{ t_bmc_node7 }}:
    username: "{{ t_bmc_uid_node7 }}"
    password: "{{ t_bmc_pw_node7 }}"
{% endif %}

