##
##    !! WARNING !!  Ansible only interprets 'True' and 'False'
##                   as booleans when reading ini files.  Other
##                   values such as 'true' or 'false' would be 
##                   interpreted as strings and would break various
##                   logic tests.  
##
##                   When reading YML files, booleans can take on
##                   many forms and be interpreted correctly.
##
##                   For consistency, only use unquoted booleans: True & False

##
##    !! NOTE  !!    Openshift DNS requirements
##
##                   https://docs.redhat.com/es/documentation/openshift_container_platform/4.21/html/installing_on_bare_metal/user-provisioned-infrastructure#installation-dns-user-infra_installing-bare-metal
##
##                   <component>.<cluster_name>.<base_domain>
##
##                   api.<cluster_name>.<base_domain>. a                Kubernetes API
##                   api-int.<cluster_name>.<base_domain>.              Kubernetes API for internal cluster communications
##                   *.apps.<cluster_name>.<base_domain>.               wildcard routes / ingress load balancer
##                  
##                   bootstrap.<cluster_name>.<base_domain>.
##                   <control_plane><n>.<cluster_name>.<base_domain>.
##                   <compute><n>.<cluster_name>.<base_domain>.
##


all: 

  vars:

    ## ----------------------------------------
    ##    Defaults for the Virt Platforms
    ##    Baremetal hosts will override defaults in
    ##      host group sections

    h_rhcosUSBdelay: "0"
    h_rhcosLOADER:   "bios"

    h_plPROF:        "custom_platform"

{% if t_ldap == True %}
    h_idPROF:        "ldap-workshopvars"
{% else %}
    h_idPROF:        ""
{% endif %}

{% if t_virthost_type == "libvirt" %}
    h_rhcosDEV:      "{{ t_blkdev_virthost }}"
    h_rhcosNIC:      "{{ t_netdev_virthost }}"
    h_hwPROF:        "{{ t_virthost_machine }}"
{% elif t_virthost_type == "ovirt" %}
    h_rhcosDEV:      "{{ t_blkdev_ovirt }}"
    h_rhcosNIC:      "{{  t_netdev_ovirt }}"
    h_hwPROF:        "{{ t_ovirt_machine }}"
{% endif %}

{% if t_cluster_provisioner == "upi-pxe" %}
    h_ksPROF:        "pxe_wait"
{%   if t_virthost_type == "ovirt" %}
    h_pwrOFF:        "False"
{%   endif %}
{% else %}
    h_ksPROF:        "custom_kickstart"
{% endif %}

{% if t_name_node1 == "localhost.localdomain" %}
    h_isoURL:        "http://{{ t_ansible_ip }}:8008/assets/{{ t_cluster_name }}-{% raw %}{{ inventory_hostname_short }}{% endraw %}.iso"
{% else %}
    h_isoURL:        "http://{{ t_addr_node1 }}:8008/assets/{{ t_cluster_name }}-{% raw %}{{ inventory_hostname_short }}{% endraw %}.iso"
{% endif %}

    g_clusterAdmin:       "{{ lookup('env',"WORKSHOP_ADMIN_UID") }}"
    g_clusterUser:        "{{ lookup('env',"WORKSHOP_STUDENT_UID") }}"


    ## ----------------------------------------
    ##    Workshop Variables

    workshop_vars:

      projectname:          "{{ t_project_name }}"

      ocp_clustername:      "{{ lookup('env','CLUSTER_NAME')         }}"
      ocp_cluster_fqdn:     "{{ lookup('env','CLUSTER_NAME')         }}.{{ lookup('env','NETWORK_SUBDOMAIN') }}"
      ocp_version:          "{{ lookup('env','CLUSTER_VERSION')      }}"
      ocp_topology:         "{{ lookup('env','CLUSTER_TOPOLOGY')     }}"
      ocp_admin_user:       "{{ lookup('env','WORKSHOP_ADMIN_UID')   }}"
      ocp_user:             "{{ lookup('env','WORKSHOP_STUDENT_UID') }}"
      ocp_dns_wildcard:     "{{ lookup('env','CLUSTER_WILDCARD')     }}"

      ocp_clusternetwork_cidr:            "{{ lookup('env','CLUSTER_CIDR') }}"
      ocp_clusternetwork_cidr_hostprefix: "{{ lookup('env','CLUSTER_CIDR_HOSTPREFIX') }}"

{% if lookup('env','CLUSTER_PROVISIONER') == "ai-vmedia" or lookup('env','CLUSTER_PROVISIONER') == "ai-http" %}
      ocp_provisioner:      "{{  lookup('env','CLUSTER_PROVISIONER') }}"
      ocp_strapless:        False
{%   if t_cluster_topology == "sno" %}

      ##
      ##    NOTE: 
      ##        Topology == sno, therefore OCP LB & API 
      ##        have same ADDR as SNO node
      ##

{%     for index in range(1,9) %}
{%       if  lookup('env','HGROUP_NODE' ~ index) == "mySNO" %}
      ocp_vip_cluster:      "{{ lookup('env','ADDR_NODE' ~ index) }}"
      ocp_vip_api:          "{{ lookup('env','ADDR_NODE' ~ index) }}"
{%       endif %}
{%     endfor %}
{%   else %}
      ocp_vip_cluster:      "{{ lookup('env','CLUSTER_LOADBALANCER_IP')                }}"
      ocp_vip_api:          "{{ lookup('env','CLUSTER_API_IP')                         }}"
{%   endif %}

{% else %}
      ocp_provisioner:      "{{ lookup('env','CLUSTER_PROVISIONER')|default('upi-pxe') }}"
      ocp_strapless:        {{  lookup('env','CLUSTER_STRAPLESS')                      }}
      ocp_vip_cluster:      "{{ lookup('env','CLUSTER_LOADBALANCER_IP')                }}"
      ocp_vip_api:          "{{ lookup('env','CLUSTER_API_IP')                         }}"
{% endif %}

      ldap:                 "{{ t_ldap }}" 
      ldap_uri:             "{{ t_ldap_uri }}"
      ldap_base_dn:         "{{ t_ldap_base_dn }}"
      ldap_bind_dn:         "{{ t_ldap_bind_dn }}"
      ldap_bind_pw:         "{{ t_ldap_bind_pw }}"
      ldap_cert:            "{{ t_ldap_cert }}"
      ldap_sudo_grp:        "{{ t_ldap_sudo_grp }}"

      network_id:           "{{ lookup('env','NETWORK_ID')          }}"
      network_gateway:      "{{ lookup('env','NETWORK_GATEWAY')     }}"
      network_prefix:       "{{ lookup('env','NETWORK_PREFIX')      }}"
      network_broadcast:    "{{ lookup('env','NETWORK_BROADCAST')   }}"
      network_netmask:      "{{ lookup('env','NETWORK_NETMASK')     }}"
      network_basedomain:   "{{ lookup('env','NETWORK_BASEDOMAIN')  }}"
      network_subdomain:    "{{ lookup('env','NETWORK_SUBDOMAIN')   }}"
      network_nameserver:   "{{ lookup('env','NETWORK_DNS_SERVER')  }}"
      network_timeserver:   "{{ lookup('env','NETWORK_TIME_SERVER') }}"


      ##
      ##    NOTE:
      ##        User & Admin UID/PW are stored
      ##        in the credentials file. Never here!!!
      ##

      set_admin_password:   True
      set_student_password: True

      http_proxy:           ""
      https_proxy:          ""

      bastion:

{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http"  %}
        assisted_installer: True
{% else %}
        assisted_installer: False
{% endif %}
        firewalld:          True
        matchbox:           True
        cockpit:            {{ t_bastion_cockpit }}
        dns:                {{ t_bastion_dns }}
        dhcp:               {{ t_bastion_dhcp }}
        dhcp_pxe:           {{ t_bastion_dhcp }}
        dhcp_uefi_http:     {{ t_bastion_dhcp }}
        haproxy:            {{ t_bastion_haproxy }}
        ldap_client:        {{ t_ldap }}
        nfs:                {{ t_bastion_nfs }}
        ntp:                {{ t_bastion_ntp }}
        squid:              {{ t_bastion_squid }}
        workshop_user:      True
        workshop_materials: True
{% if   t_virthost_br_type == "nat" %}
        desktop_gui:        True
        desktop_chrome:     True
        desktop_vnc:        True
{% else %}
        desktop_gui:        False
        desktop_chrome:     False
        desktop_vnc:        False
{% endif %}

{% if t_cluster_provisioner == "upi-vmedia" %}
        iso:                True
{% else %}
        iso:                False
{% endif %}

    workshop_extras:


      ocp_creds_dir:        "/root/ocp-{{ t_cluster_name }}"

      ocp_wfqdn:            "{{ t_cluster_wildcard }}.{{ t_cluster_name }}.{{ lookup('env','NETWORK_SUBDOMAIN')   }}"

      nfs_export:           "/home/nfs-{{ t_project_name }}"

      squid_http_url:       "http://bastion.{{ t_network_basedomain }}:3128"

      squid_https_url:      ""




    ## ----------------------------------------
    ##    Xtoph Deploy Variables

    xtoph_vars:

      deployhost_ip:       "{{ t_ansible_ip }}" 
      clustername:         "{{ t_cluster_name }}"
      projectname:         "{{ t_project_name }}"

      tmp_dir:             "/home/tmp/{{ t_project_name }}/{% raw %}{{ inventory_hostname_short }}{% endraw %}"




## ----------------------------------------
## HOSTGROUPS & VARS
## ----------------------------------------

myLibvirtHosts:

  hosts:
{% if t_virthost_type == "libvirt" and t_virthost_fqdn|length %}
    {{ t_virthost_fqdn }}:
      h_netIP:  "{{ t_virthost_ip }}"
{% if t_virthost_fqdn == "localhost.localdomain" %}
      ansible_connection: local
{% endif %}

{% if t_virthost_hw|length  %}
      h_hwPROF:  "{{ t_virthost_hw }}"
      h_plPROF:  "custom_baremetal"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
      h_pwrOFF:  false
      h_ksPROF:  "rhel92-bootiso"
{% else %}
      h_hwPROF:  "pc_sda"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
{% endif %}

{% if t_virthost_bmc|length  %}
      bmc_fqdn:        "{{ t_virthost_bmc }}"
{% endif %}

{% endif %}



## -----------------

myDeployhost:
  hosts:
    deployer:
      h_netIP:       {% raw %}"{{ xtoph_vars.deployhost_ip }}"{% endraw %}

  vars:
    ansible_connection: local

    ##  This is not a host we deploy, so ensure h_plPROF and h_ksPROF
    ##  are empty otherwise it screws up building xtoph_deploy dictionary

    h_plPROF:        ""
    h_ksPROF:        ""



{% for hgroup in [ "myBastion" ] %}

## -----------------

{{ hgroup }} :
  hosts:
{%   for index in range(1,9) %}
{%     if  lookup('env','HGROUP_NODE' ~ index) == hgroup %}

{%       if lookup('env','NAME_NODE' ~ index) == 'localhost.localdomain' %}
    {{ lookup('env','NAME_NODE' ~ index) }}:
      ansible_connection: local
      h_netIP: "{{ lookup('env','ANSIBLE_IP') }}"
{%       else %}
    {{ lookup('env','NAME_NODE' ~ index) }}.{{ lookup('env','NETWORK_SUBDOMAIN') }} :
      h_netIP:         "{{ lookup('env','ADDR_NODE' ~ index)    }}"
{%         if lookup('env','KOPTS_NODE' ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env','KOPTS_NODE' ~ index)   }}"
{%         endif %}
{%         if lookup('env','KS_NODE' ~ index)|length %}
      h_ksPROF:        "{{ lookup('env','KS_NODE' ~ index)      }}"
{%         endif %}
{%         if lookup('env','MAC_NODE' ~ index)|length     %}
      h_netMAC:        "{{ lookup('env','MAC_NODE' ~ index)     }}"
{%         endif %}
{%         if lookup('env','NETMODE_NODE' ~ index)|length %}
      h_netMODE:       "{{ lookup('env','NICMODE_NODE' ~ index) }}"
{%         endif %}
{%         if lookup('env','NETDEV_NODE' ~ index)|length  %}
      h_netDEV:        "{{ lookup('env','NETDEV_NODE' ~ index)  }}"
{%         endif %}
{%         if lookup('env','BLKDEV_NODE' ~ index)|length  %}
      h_blkDEV:        "{{ lookup('env','BLKDEV_NODE' ~ index)  }}"
{%         endif %}
{%         if lookup('env','HW_NODE' ~ index)|length      %}
      h_hwPROF:        "{{ lookup('env','HW_NODE' ~ index)      }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        true
{%         endif %}
{%         if lookup('env','BMC_NODE' ~ index)|length     %}
      bmc_fqdn:        "{{ lookup('env','BMC_NODE' ~ index)     }}"
{%         endif %}
{%       endif %}
{%     endif %}
{%   endfor %}

  vars:
    #    REMINDER:
    #        h_ksPROF    default defined at top of inventory
    #        h_plPROF    default defined at top of inventory
    #        h_hwPROF    default defined at top of inventory
    #        h_netMAC    if not explicitly set, likely calculated host_var (./config/hostvars/*)

{%   if hgroup   == "myBastion"   %}
    h_ksPROF:        "rhel96-bootiso"
    h_rsPROF:        "custom_bastion"
{%   elif hgroup == "myBootstrap" %}
    h_rsPROF:        "custom_master"
{%   elif hgroup == "myMasters"   %}
    h_rsPROF:        "custom_master"
{%   elif hgroup == "myWorkers"   %}
    h_rsPROF:        "custom_worker"
{%   elif hgroup == "myWorkers"   %}
    h_rsPROF:        "custom_sno"
{%   elif hgroup == "myArbiter"   %}
    h_rsPROF:        "custom_master"
{%   else %}
    # !!! WARNING !!! Encountered unexpected hostgroup
{%   endif %}
{% endfor %}




## -----------------



myBootstrap:
  hosts:


{% if t_cluster_topology != "sno" %}
{% if (( t_cluster_provisioner == "upi-pxe" or t_cluster_provisioner == "upi-vmedia" ) and t_cluster_strapless == False ) %}

{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == "myBootstrap" %}

    {{ lookup('env',"NAME_NODE" ~ index) }}.{{ lookup('env',"CLUSTER_NAME") }}.{{ lookup('env',"NETWORK_SUBDOMAIN") }} :

      h_netIP:         "{{ lookup('env',"ADDR_NODE" ~ index) }}"
      h_rsPROF:        "{{ lookup('env',"RES_NODE" ~ index) }}"
{%       if lookup('env',"MAC_NODE" ~ index)|length %}
      h_netMAC:        "{{ lookup('env',"MAC_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NICMODE_NODE" ~ index)|length %}
      h_netMODE:       "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
      h_rhcosNICmode:  "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NETDEV_NODE" ~ index)|length %}
      h_netDEV:        "{{ lookup('env',"NETDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"BLKDEV_NODE" ~ index)|length %}
      h_blkDEV:        "{{ lookup('env',"BLKDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"HW_NODE" ~ index)|length %}
      h_hwPROF:        "{{ lookup('env',"HW_NODE" ~ index) }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{%         if lookup('env',"CLUSTER_PROVISIONER") == "ai-vmedia" or lookup('env',"CLUSTER_PROVISIONER") == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{%         endif %}

      h_rhcosNIC:      "{{ lookup('vars','t_netdev_node' ~ index) }}:dhcp"
      h_rhcosDEV:      "{{ lookup('vars','t_blkdev_node' ~ index) }}"
      h_rhcosUSBdelay: "{{ lookup('vars','t_usbdelay_node' ~ index) }}"
      h_rhcosLOADER:   "{{ lookup('vars','t_bootmode_node' ~ index) }}"

{%         if lookup('env',"KOPTS_NODE" ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env',"KOPTS_NODE" ~ index) }}"
{%         endif %}
{%         if lookup('env',"BMC_NODE" ~ index)|length %}
      bmc_fqdn:        "{{ lookup('env',"BMC_NODE" ~ index) }}"
  {%       endif %}
{%       endif %}

{%     endif %}
{% endfor %}

{% endif %}
{% endif %}


## -----------------


myMasters:
  hosts:

{% if t_cluster_topology != "sno" %}

{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == "myMasters" %}

    {{ lookup('env',"NAME_NODE" ~ index) }}.{{ lookup('env',"CLUSTER_NAME") }}.{{ lookup('env',"NETWORK_SUBDOMAIN") }} :

      h_netIP:         "{{ lookup('env',"ADDR_NODE" ~ index) }}"
      h_rsPROF:        "{{ lookup('env',"RES_NODE" ~ index) }}"
{%       if lookup('env',"MAC_NODE" ~ index)|length %}
      h_netMAC:        "{{ lookup('env',"MAC_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NICMODE_NODE" ~ index)|length %}
      h_netMODE:       "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
      h_rhcosNICmode:  "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NETDEV_NODE" ~ index)|length %}
      h_netDEV:        "{{ lookup('env',"NETDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"BLKDEV_NODE" ~ index)|length %}
      h_blkDEV:        "{{ lookup('env',"BLKDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"KS_NODE" ~ index)|length %}
      h_ksPROF:        "{{ lookup('env',"KS_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"HW_NODE" ~ index)|length %}
      h_hwPROF:        "{{ lookup('env',"HW_NODE" ~ index) }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{%         if lookup('env',"CLUSTER_PROVISIONER") == "ai-vmedia" or lookup('env',"CLUSTER_PROVISIONER") == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{%         endif %}

      h_rhcosNIC:      "{{ lookup('vars','t_netdev_node' ~ index) }}:dhcp"
      h_rhcosDEV:      "{{ lookup('vars','t_blkdev_node' ~ index) }}"
      h_rhcosUSBdelay: "{{ lookup('vars','t_usbdelay_node' ~ index) }}"
      h_rhcosLOADER:   "{{ lookup('vars','t_bootmode_node' ~ index) }}"

{%         if lookup('env',"KOPTS_NODE" ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env',"KOPTS_NODE" ~ index) }}"
{%         endif %}
{%         if lookup('env',"BMC_NODE" ~ index)|length %}
      bmc_fqdn:        "{{ lookup('env',"BMC_NODE" ~ index) }}"
  {%       endif %}
{%       endif %}

{%     endif %}
{% endfor %}

{% endif %}


## -----------------


myWorkers:
  hosts:

{% if t_cluster_topology == "3x2" %}

{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == "myWorkers" %}

    {{ lookup('env',"NAME_NODE" ~ index) }}.{{ lookup('env',"CLUSTER_NAME") }}.{{ lookup('env',"NETWORK_SUBDOMAIN") }} :

      h_netIP:         "{{ lookup('env',"ADDR_NODE" ~ index) }}"
      h_rsPROF:        "{{ lookup('env',"RES_NODE" ~ index) }}"
{%       if lookup('env',"MAC_NODE" ~ index)|length %}
      h_netMAC:        "{{ lookup('env',"MAC_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NICMODE_NODE" ~ index)|length %}
      h_netMODE:       "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
      h_rhcosNICmode:  "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NETDEV_NODE" ~ index)|length %}
      h_netDEV:        "{{ lookup('env',"NETDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"BLKDEV_NODE" ~ index)|length %}
      h_blkDEV:        "{{ lookup('env',"BLKDEV_NODE" ~ index) }}"
{%       endif %}
{%         if lookup('env','KS_NODE' ~ index)|length %}
      h_ksPROF:        "{{ lookup('env','KS_NODE' ~ index)      }}"
{%         endif %}
{%       if lookup('env',"HW_NODE" ~ index)|length %}
      h_hwPROF:        "{{ lookup('env',"HW_NODE" ~ index) }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{%         if lookup('env',"CLUSTER_PROVISIONER") == "ai-vmedia" or lookup('env',"CLUSTER_PROVISIONER") == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{%         endif %}

      h_rhcosNIC:      "{{ lookup('vars','t_netdev_node' ~ index) }}:dhcp"
      h_rhcosDEV:      "{{ lookup('vars','t_blkdev_node' ~ index) }}"
      h_rhcosUSBdelay: "{{ lookup('vars','t_usbdelay_node' ~ index) }}"
      h_rhcosLOADER:   "{{ lookup('vars','t_bootmode_node' ~ index) }}"

{%         if lookup('env',"KOPTS_NODE" ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env',"KOPTS_NODE" ~ index) }}"
{%         endif %}
{%         if lookup('env',"BMC_NODE" ~ index)|length %}
      bmc_fqdn:        "{{ lookup('env',"BMC_NODE" ~ index) }}"
  {%       endif %}
{%       endif %}

{%     endif %}
{% endfor %}

{% endif %}



## -----------------



mySNO:
  hosts:

{% if t_cluster_topology == "sno" %}

{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == "mySNO" %}

    {{ lookup('env',"NAME_NODE" ~ index) }}.{{ lookup('env',"CLUSTER_NAME") }}.{{ lookup('env',"NETWORK_SUBDOMAIN") }} :

      h_netIP:         "{{ lookup('env',"ADDR_NODE" ~ index) }}"
      h_rsPROF:        "{{ lookup('env',"RES_NODE" ~ index) }}"
{%       if lookup('env',"MAC_NODE" ~ index)|length %}
      h_netMAC:        "{{ lookup('env',"MAC_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NICMODE_NODE" ~ index)|length %}
      h_netMODE:       "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
      h_rhcosNICmode:  "{{ lookup('env',"NICMODE_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"NETDEV_NODE" ~ index)|length %}
      h_netDEV:        "{{ lookup('env',"NETDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"BLKDEV_NODE" ~ index)|length %}
      h_blkDEV:        "{{ lookup('env',"BLKDEV_NODE" ~ index) }}"
{%       endif %}
{%       if lookup('env',"HW_NODE" ~ index)|length %}
      h_hwPROF:        "{{ lookup('env',"HW_NODE" ~ index) }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{%         if lookup('env',"CLUSTER_PROVISIONER") == "ai-vmedia" or lookup('env',"CLUSTER_PROVISIONER") == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{%         endif %}

      h_rhcosNIC:      "{{ lookup('vars','t_netdev_node' ~ index) }}:dhcp"
      h_rhcosDEV:      "{{ lookup('vars','t_blkdev_node' ~ index) }}"
      h_rhcosUSBdelay: "{{ lookup('vars','t_usbdelay_node' ~ index) }}"
      h_rhcosLOADER:   "{{ lookup('vars','t_bootmode_node' ~ index) }}"

{%         if lookup('env',"KOPTS_NODE" ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env',"KOPTS_NODE" ~ index) }}"
{%         endif %}
{%         if lookup('env',"BMC_NODE" ~ index)|length %}
      bmc_fqdn:        "{{ lookup('env',"BMC_NODE" ~ index) }}"
  {%       endif %}
{%       endif %}

{%     endif %}
{% endfor %}

{% endif %}



## -----------------



myBootstrapFlipFlop:
  hosts:

    #    THIS GROUP MUST EXIST BUT SHOULD REMAIN EMPTY



## -----------------

myOther:
  hosts:

    #    THIS GROUP MUST EXIST AND CAN BE USED TO DEPLOY ADDITIONAL SYSTEMS

## -----------------



myShelter:
  hosts:

#    bastion.{{ lookup('env','NETWORK_SUBDOMAIN') }}:

