##
##    !! WARNING !!  Ansible only interprets 'True' and 'False'
##                   as booleans when reading ini files.  Other
##                   values such as 'true' or 'false' would be 
##                   interpreted as strings and would break various
##                   logic tests.  
##
##                   When reading YML files, booleans can take on
##                   many forms and be interpreted correctly.
##
##                   For consistency, only use unquoted booleans: True & False

all: 

  vars:

    ## ----------------------------------------
    ##    Defaults for the Virt Platforms
    ##    Baremetal hosts will override defaults in
    ##      host group sections

    h_rhcosUSBdelay: "0"
    h_rhcosLOADER:   "bios"

    h_plPROF:        "custom_platform"

{% if t_virthost_type == "libvirt" %}
    h_rhcosDEV:      "{{ t_blkdev_virthost }}"
    h_rhcosNIC:      "{{ t_netdev_virthost }}"
    h_hwPROF:        "{{ t_virthost_machine }}"
{% elif t_virthost_type == "ovirt" %}
    h_rhcosDEV:      "{{ t_blkdev_ovirt }}"
    h_rhcosNIC:      "{{  t_netdev_ovirt }}"
    h_hwPROF:        "{{ t_ovirt_machine }}"
{% endif %}

{% if t_cluster_provisioner == "upi-pxe" %}
    h_ksPROF:        "pxe_wait"
{% if t_virthost_type == "ovirt" %}
    h_pwrOFF:        "False"
{% endif %}
{% else %}
    h_ksPROF:        "custom_kickstart"
{% endif %}

{% if t_name_node1 == "localhost.localdomain" %}
    h_isoURL:        "http://{{ t_ansible_ip }}:8008/assets/{{ t_cluster_name }}-{% raw %}{{ inventory_hostname_short }}{% endraw %}.iso"
{% else %}
    h_isoURL:        "http://{{ t_addr_node1 }}:8008/assets/{{ t_cluster_name }}-{% raw %}{{ inventory_hostname_short }}{% endraw %}.iso"
{% endif %}

    g_clusterAdmin:       "cloud-admin"
    g_clusterUser:        "cloud-user"


    ## ----------------------------------------
    ##    Workshop Variables

    workshop_vars:

      projectname:          "{{ t_project_name }}"

      ocp_clustername:      "{{ t_cluster_name }}"
      ocp_cluster_fqdn:     "{{ t_cluster_name }}.{{ t_network_basedomain }}"
      ocp_version:          "{{ t_cluster_version }}"
      ocp_admin_user:       "cloud-admin"
      ocp_user:             "cloud-user"
      ocp_dns_wildcard:     "{{ t_cluster_wildcard }}"
      ocp_clusternetwork_cidr:            "{{ t_cluster_cidr }}"
      ocp_clusternetwork_cidr_hostprefix: "{{ t_cluster_cidr_hostprefix }}"
{% if t_cluster_sno == True %}
      ocp_sno:              True
{% else %}
      ocp_sno:              False
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      ocp_provisioner:      "{{ t_cluster_provisioner }}"
      ocp_strapless:        False
{% if t_cluster_sno == True %}
      ocp_vip_cluster:      "{{ t_addr_node8 }}"
      ocp_vip_api:          "{{ t_addr_node8 }}"
{% else %}
      ocp_vip_cluster:      "{{ t_cluster_loadbalancer_ip }}"
      ocp_vip_api:          "{{ t_cluster_api_ip }}"
{% endif %}
{% else %}
      ocp_provisioner:      "upi"
      ocp_strapless:        {{ t_cluster_strapless }}
      ocp_vip_cluster:      "{{ t_addr_node1 }}"
      ocp_vip_api:          "{{ t_addr_node1 }}"
{% endif %}

      network_basedomain:   "{{ t_network_basedomain }}"
      network_network:      "{{ t_network_id }}"
      network_netmask:      "{{ t_network_netmask }}"
      network_broadcast:    "{{ t_network_broadcast }}"
      network_prefix:       "{{ t_network_prefix }}"
      network_gateway:      "{{ t_network_gateway }}"
      network_nameserver:   "{{ t_network_dns_server }}"
      network_timeserver:   "{{ t_network_time_server }}"

      http_proxy:           ""
      https_proxy:          ""

      bastion:

{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http"  %}
        assisted_installer: True
{% else %}
        assisted_installer: False
{% endif %}
        firewalld:          True
        cockpit:            False
        dns:                {{ t_bastion_dns }}
        dhcp:               {{ t_bastion_dhcp }}
        dhcp_pxe:           {{ t_bastion_dhcp }}
        dhcp_uefi_http:     {{ t_bastion_dhcp }}
        haproxy:            {{ t_bastion_haproxy }}
        matchbox:           True
        nfs:                {{ t_bastion_nfs }}
        ntp:                {{ t_bastion_ntp }}
        squid:              {{ t_bastion_squid }}
        workshop_user:      True
        workshop_materials: True
{% if   t_virthost_br_type == "nat" %}
        desktop_gui:        True
        desktop_chrome:     True
        desktop_vnc:        True
{% else %}
        desktop_gui:        False
        desktop_chrome:     False
        desktop_vnc:        False
{% endif %}

{% if t_cluster_provisioner == "upi-vmedia" %}
        iso:                True
{% else %}
        iso:                False
{% endif %}

    workshop_extras:

      network_fqdn:         "{{ t_network_basedomain }}"

      ocp_creds_dir:        "/root/ocp-{{ t_cluster_name }}"

      ocp_wfqdn:            "{{ t_cluster_wildcard }}.{{ t_cluster_name }}.{{ t_network_basedomain }}"

      nfs_export:           "/home/nfs-{{ t_project_name }}"

      squid_http_url:       "http://bastion.{{ t_network_basedomain }}:3128"

      squid_https_url:      ""




    ## ----------------------------------------
    ##    Xtoph Deploy Variables

    xtoph_vars:

      deployhost_ip:       "{{ t_ansible_ip }}" 
      clustername:         "{{ t_cluster_name }}"
      projectname:         "{{ t_project_name }}"

      tmp_dir:             "/home/tmp/{{ t_project_name }}/{% raw %}{{ inventory_hostname_short }}{% endraw %}"




## ----------------------------------------
## HOSTGROUPS & VARS
## ----------------------------------------

myLibvirtHosts:

  hosts:
{% if t_virthost_type == "libvirt" and t_virthost_fqdn|length %}
    {{ t_virthost_fqdn }}:
      h_pubIP:  "{{ t_virthost_ip }}"
{% if t_virthost_fqdn == "localhost.localdomain" %}
      ansible_connection: local
{% endif %}

{% if t_virthost_hw|length  %}
      h_hwPROF:  "{{ t_virthost_hw }}"
      h_plPROF:  "custom_baremetal"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
      h_pwrOFF:  false
      h_ksPROF:  "rhel92-bootiso"
{% else %}
      h_hwPROF:  "pc_sda"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
{% endif %}

{% if t_virthost_bmc|length  %}
      bmc_fqdn:        "{{ t_virthost_bmc }}"
{% endif %}

{% endif %}



## -----------------

myDeployhost:
  hosts:
    deployer:
      h_pubIP:       {% raw %}"{{ xtoph_vars.deployhost_ip }}"{% endraw %}

  vars:
    ansible_connection: local

    ##  This is not a host we deploy, so ensure h_plPROF and h_ksPROF
    ##  are empty otherwise it screws up building xtoph_deploy dictionary

    h_plPROF:        ""
    h_ksPROF:        ""




## -----------------



myBastion:
  hosts:
{% if t_name_node1 == "localhost.localdomain" %}
    {{ ansible_nodename }}:
      ansible_connection: local
      h_pubIP:         "{{ t_ansible_ip }}"
{% else %}
    {{ t_name_node1 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_ksPROF:        "rhel94-bootiso"
      h_pubIP:         "{{ t_addr_node1 }}"
      h_rsPROF:        "{{ t_res_node1  }}"
{% if t_kopts_node1|length %}
      h_kernelOPTS:    "{{ t_kopts_node1 }}"
{% endif %}
{% if t_mac_node1|length %}
      h_pubMAC:        "{{ t_mac_node1 }}"
{% endif -%}
{% if t_hw_node1|length  %}
      h_hwPROF:        "{{ t_hw_node1  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        true
{% else %}
      h_pwrOFF:        true
{% endif %}

{% if t_bmc_node1|length %}
      bmc_fqdn:        "{{ t_bmc_node1 }}"
{% endif %}
{% endif %}



## -----------------



myBootstrap:
  hosts:

{% if t_cluster_sno == False %}
{% if (( t_cluster_provisioner == "upi-pxe" or t_cluster_provisioner == "upi-vmedia" ) and t_cluster_strapless == False ) %}

{% if t_addr_node2 is defined and t_addr_node2|length %}
    {{ t_name_node2 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node2 }}" 
      h_rsPROF:        "{{ t_res_node2  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node2 }}"
{% if t_mac_node2|length %}
      h_pubMAC:        "{{ t_mac_node2 }}"
{% endif -%}
{% if t_hw_node2|length  %}
      h_hwPROF:        "{{ t_hw_node2  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node2|length %}
      h_kernelOPTS:    "{{ t_kopts_node2 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node2 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node2 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node2 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node2 }}"
{% endif %}
{% if t_bmc_node2|length %}
      bmc_fqdn:        "{{ t_bmc_node2 }}"
{% endif %}
{% endif %}

{% endif %}
{% endif %}


## -----------------



myMasters:
  hosts:

{% if t_cluster_sno == False %}

{% if t_addr_node3 is defined and t_addr_node3|length %}
    {{ t_name_node3}}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node3 }}"
      h_rsPROF:        "{{ t_res_node3  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node3 }}"
{% if t_mac_node3|length %}
      h_pubMAC:        "{{ t_mac_node3 }}"
{% endif -%}
{% if t_hw_node3|length  %}
      h_hwPROF:        "{{ t_hw_node3  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node3|length %}
      h_kernelOPTS:    "{{ t_kopts_node3 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node3 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node3 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node3 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node3 }}"
{% endif %}
{% if t_bmc_node3|length %}
      bmc_fqdn:        "{{ t_bmc_node3 }}"
{% endif %}
{% endif %}

{% if t_addr_node4 is defined and t_addr_node4|length %}
    {{ t_name_node4 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node4 }}"
      h_rsPROF:        "{{ t_res_node4  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node4 }}"
{% if t_mac_node4|length %}
      h_pubMAC:        "{{ t_mac_node4 }}"
{% endif %}
{% if t_hw_node4|length %}
      h_hwPROF:        "{{ t_hw_node4 }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node4|length %}
      h_kernelOPTS:    "{{ t_kopts_node4 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node4 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node4 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node4 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node4 }}"
{% endif %}
{% if t_bmc_node4|length %}
      bmc_fqdn:        "{{ t_bmc_node4 }}"
{% endif %}
{% endif %}

{% if t_addr_node5 is defined and t_addr_node5|length %}
    {{ t_name_node5}}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node5 }}"
      h_rsPROF:        "{{ t_res_node5  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node5 }}"
{% if t_mac_node5|length %}
      h_pubMAC:        "{{ t_mac_node5 }}"
{% endif %}
{% if t_hw_node5|length %}
      h_hwPROF:        "{{ t_hw_node5 }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node5|length %}
      h_kernelOPTS:    "{{ t_kopts_node5 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node5 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node5 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node5 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node5 }}"
{% endif %}
{% if t_bmc_node5|length %}
      bmc_fqdn:        "{{ t_bmc_node5 }}"
{% endif %}
{% endif %}

{% endif %}


## -----------------



myWorkers:
  hosts:

{% if t_cluster_sno == False %}

{% if t_addr_node6 is defined and t_addr_node6|length %}
    {{ t_name_node6 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node6 }}" 
      h_rsPROF:        "{{ t_res_node6  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node6 }}"
{% if t_mac_node6|length %}
      h_pubMAC:        "{{ t_mac_node6 }}"
{% endif %}
{% if t_hw_node6|length  %}
      h_hwPROF:        "{{ t_hw_node6  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node6|length %}
      h_kernelOPTS:    "{{ t_kopts_node6 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node6 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node6 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node6 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node6 }}"
{% endif %}
{% if t_bmc_node6|length %}
      bmc_fqdn:        "{{ t_bmc_node6 }}"
{% endif %}
{% endif %}

{% if t_addr_node7 is defined and t_addr_node7|length %}
    {{ t_name_node7 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node7 }}" 
      h_rsPROF:        "{{ t_res_node7  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node7 }}"
{% if t_mac_node7|length %}
      h_pubMAC:        "{{ t_mac_node7 }}"
{% endif %}
{% if t_hw_node7|length  %}
      h_hwPROF:        "{{ t_hw_node7  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node7|length %}
      h_kernelOPTS:    "{{ t_kopts_node7 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node7 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node7 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node7 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node7 }}"
{% endif %}
{% if t_bmc_node7|length %}
      bmc_fqdn:        "{{ t_bmc_node7 }}"
{% endif %}
{% endif %}

{% endif %}



## -----------------



mySNO:
  hosts:

{% if t_cluster_sno == True %}

{% if t_addr_node8 is defined and t_addr_node8|length %}
    {{ t_name_node8 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:
      h_pubIP:         "{{ t_addr_node8 }}"
      h_rsPROF:        "{{ t_res_node8  }}"
      h_rhcosNICmode:  "{{ t_nicmode_node8 }}"
{% if t_mac_node8|length %}
      h_pubMAC:        "{{ t_mac_node8 }}"
{% endif %}
{% if t_hw_node8|length  %}
      h_hwPROF:        "{{ t_hw_node8  }}"
      h_plPROF:        "custom_baremetal"
      h_pwrOFF:        false
{% if t_kopts_node8|length %}
      h_kernelOPTS:    "{{ t_kopts_node8 }}"
{% endif %}
{% if t_cluster_provisioner == "ai-vmedia" or t_cluster_provisioner == "ai-http" %}
      h_ksPROF:        "vmedia_nowait"
{% endif %}

      h_rhcosNIC:      "{{ t_netdev_node8 }}:dhcp"
      h_rhcosDEV:      "{{ t_blkdev_node8 }}"
      h_rhcosUSBdelay: "{{ t_usbdelay_node8 }}"
      h_rhcosLOADER:   "{{ t_bootmode_node8 }}"
{% endif %}

{% if t_bmc_node8|length %}
      bmc_fqdn:        "{{ t_bmc_node8 }}"
{% endif %}
{% endif %}

{% endif %}



## -----------------



myBootstrapFlipFlop:
  hosts:

    #    THIS GROUP MUST EXIST BUT SHOULD REMAIN EMPTY



## -----------------

myOther:
  hosts:

    #    THIS GROUP MUST EXIST AND CAN BE USED TO DEPLOY ADDITIONAL SYSTEMS

## -----------------



myShelter:
  hosts:

#    {{t_name_node1 }}.{{ t_cluster_name }}.{{ t_network_basedomain}}:

