##
## KICKSTART PROFILES
##



custom_kickstart:

    name:              "custom_kickstart"

{% if t_cluster_provisioner == "ai" and t_virthost_type == "libvirt" %}
    description:            "Custom kickstart: (AI + LIBVIRT) simple_cdrom + wait_for_ssh + async restart_monitor"
    method:                 "simple_cdrom"
    wait_for_powerup:       false
    wait_for_shutdown:      false
    wait_for_ssh:           true
    launch_restart_monitor: true

{% elif t_cluster_provisioner == "ai" and t_virthost_type == "ovirt" %}
    description:            "Custom kickstart: (AI + OVIRT) simple_cdrom + wait_for_ssh"
    method:                 "simple_cdrom"
    wait_for_powerup:       false
    wait_for_shutdown:      false
    wait_for_ssh:           true
    launch_restart_monitor: false

{% elif t_cluster_provisioner == "upi-vmedia" and t_virthost_type == "libvirt" %}
    description:            "Custom kickstart: (UPI-vMEDIA + LIBVIRT) simple_cdrom + wait_for_ssh"
    method:                 "simple_cdrom"
    wait_for_powerup:       false
    wait_for_shutdown:      true
    wait_for_ssh:           true
    launch_restart_monitor: false

{% elif t_cluster_provisioner == "upi-vmedia" and t_virthost_type == "ovirt" %}
    description:            "Custom kickstart: (UPI-vMEDIA + OVIRT) simple_cdrom + wait_for_ssh"
    method:                 "simple_cdrom"
    wait_for_powerup:       false
    wait_for_shutdown:      false
    wait_for_ssh:           true
    launch_restart_monitor: false

{% endif %}

{% raw %}
    iso_url:           "{{ h_isoURL | default('') }}"
{% endraw %}

