_debug:               True
_cleanup:             True

_bastion_profile:     "workshop-vars"
_network_profile:     "workshop-vars"
_ocp_profile:         "workshop-vars"
_rhcos_profile:       "workshop-vars"
_identity_profile:    "workshop-vars"
  

_cluster_bastion:     {% raw %}"{{ groups['myBastion']   }}"{% endraw %}

_cluster_bootstrap:   {% raw %}"{{ groups['myBootstrap'] }}"{% endraw %}

_cluster_masters:     {% raw %}"{{ groups['myMasters']   }}"{% endraw %}

_cluster_workers:     {% raw %}"{{ groups['myWorkers']   }}"{% endraw %}


