## Authors: 
##   Christoph Doerbeck
##
## Summary:
##
##
##

---
- hosts: localhost

  tasks:

  - name: "DEPLOYER-PREINSTALL-WORKERS: wait for availability of config-server on masters"
    wait_for:
      host: "{{ hostvars[item]['h_pubIP'] }}"
      connect_timeout: 5
      delay: 3
      port: 22623
      sleep: 5
      state: started
      timeout: 1800
    loop: "{{ groups['myMasters'] }}"

