##
## CUSTOM PLATFORM PROFILES
##

libvirt_amanda1:

    type:        "libvirt"
    host_fqdn:   "amanda1.lab.linuxsoup.com"
    host_ip:     "192.168.1.23"
    description: "Custom platform libvirt_amanda1: bridged net, nested_virt"

    vm:
        name: "{{ xtoph_vars.clustername }}_{{ inventory_hostname }}"
  
    nested_virt_enable: true

    kickstart:
        description: "hints to where installers can find devices"
        netdev:  "{{ h_netDEV | default('eno1') }}"
        blkdev:  "{{ h_blkDEV | default('sda') }}"
  
    network:
        default:
  
            description:     "default libvirt network parameters"
            network_name:    "br0"
            undeploy:        true

            fwd_type:        "bridge"
            bridge_netdev:   "enp5s0"
            model:           "virtio"
  
            basedomain:        "{{ workshop_vars.network_basedomain }}"
            network:           "{{ workshop_vars.network_network    }}"
            netmask:           "{{ workshop_vars.network_netmask    }}"
            broadcast:         "{{ workshop_vars.network_broadcast  }}"
            prefix:            "{{ workshop_vars.network_prefix     }}"
            gateway:           "{{ workshop_vars.network_gateway    }}"
            nameserver:        "{{ workshop_vars.network_nameserver }}"
            timeserver:        "{{ workshop_vars.network_timeserver }}"
            fqdn:              "{{ workshop_extras.network_fqdn     }}"

    storage:
        default:

            description: "default libvirt storage parameters"
            qcow_dir: "/home/virt-images"



libvirt_amanda2:

    type:        "libvirt"
    host_fqdn:   "amanda2.lab.linuxsoup.com"
    host_ip:     "192.168.1.24"
    description: "Custom platform libvirt_amanda2: bridged net, nested_virt"

    vm:
        name: "{{ xtoph_vars.clustername }}_{{ inventory_hostname }}"
  
    nested_virt_enable: true

    kickstart:
        description: "hints to where installers can find devices"
        netdev:  "{{ h_netDEV | default('eno1') }}"
        blkdev:  "{{ h_blkDEV | default('sda') }}"
  
    network:
        default:
  
            description:     "default libvirt network parameters"
            network_name:    "br0"
            undeploy:        true

            fwd_type:        "bridge"
            bridge_netdev:   "enp4s0"
            model:           "virtio"
  
            basedomain:        "{{ workshop_vars.network_basedomain }}"
            network:           "{{ workshop_vars.network_network    }}"
            netmask:           "{{ workshop_vars.network_netmask    }}"
            broadcast:         "{{ workshop_vars.network_broadcast  }}"
            prefix:            "{{ workshop_vars.network_prefix     }}"
            gateway:           "{{ workshop_vars.network_gateway    }}"
            nameserver:        "{{ workshop_vars.network_nameserver }}"
            timeserver:        "{{ workshop_vars.network_timeserver }}"
            fqdn:              "{{ workshop_extras.network_fqdn     }}"

    storage:
        default:

            description: "default libvirt storage parameters"
            qcow_dir: "/home/virt-images"
